<?xml version="1.0"?>
<!--
/**
 * Emoja_Scheduler
 *
 * @category    Emoja
 * @package     Emoja_Scheduler
 * @copyright   Copyright (c) 2025 Emoja Consulting, Inc
 * @author      johnjay@alumni.caltech.edu
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::system">
                    <resource id="Magento_Backend::tools">
                        <resource id="Emoja_Scheduler::cron" title="Emoja Cron Schedule" sortOrder="100"/>
                        <resource id="Emoja_Scheduler::job" title="Emoja Cron Jobs" sortOrder="101"/>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
